body,
html {
  font-family: "TheinhardtR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  h1,
  h2,
  h3,
  h4 {
    font-family: "TheinhardtM", sans-serif;
  }
}

.page-black {
  background: #1a1a1a;
  color: #fff;
}

.page-white {
  padding-top: calc((100vw / 24.5) * 7);
  padding-bottom: calc((100vw / 24.5) * 3.5);

  @include media-breakpoint-up(lg) {
    padding-top: calc((100vw / 24.5) * 3.5);
    padding-bottom: calc((100vw / 24.5) * 3.5);
  }
}

.container-fluid {
  padding-left: calc((100vw / 24.5) * 1) !important;
  padding-right: calc((100vw / 24.5) * 1) !important;

  @include media-breakpoint-up(lg) {
    padding-left: calc((100vw / 24.5) * 0.5) !important;
    padding-right: calc((100vw / 24.5) * 0.5) !important;
  }
}

p {
  &:last-child {
    margin: 0;
    padding: 0;
  }
}

#logo-trigger {
  position: absolute;
  left: 0;
  top: 60%;
  width: 0;
  height: 100px;
  // background: #f00;
}

.vertical-spacing-mobile-top {
  @include media-breakpoint-down(md) {
    padding-top: calc(100vw / 24.5) !important;
  }
}

.vertical-spacing-mobile-bottom {
  @include media-breakpoint-down(md) {
    padding-bottom: calc(100vw / 24.5) !important;
  }
}

.vertical-spacing-mobile-top-x2 {
  @include media-breakpoint-down(md) {
    padding-top: calc((100vw / 24.5) * 2) !important;
  }
}

.vertical-spacing-mobile-bottom-x2 {
  @include media-breakpoint-down(md) {
    padding-bottom: calc((100vw / 24.5) * 2) !important;
  }
}

.vertical-spacing-desktop-top {
  @include media-breakpoint-up(lg) {
    padding-top: calc(100vw / 64) !important;
  }
}

.vertical-spacing-desktop-bottom {
  @include media-breakpoint-up(lg) {
    padding-bottom: calc(100vw / 64) !important;
  }
}

.rect-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10000;

  svg {
    width: 100vw;
    height: 100vh;
  }
}

.circ-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10001;
  mix-blend-mode: difference;

  svg {
    width: 100vw;
    height: 100vh;
  }
}
