body,
html {
  font-family: "Theinhardt", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.page-black {
  background: #1a1a1a;
  color: #fff;
}

.page-white {
  padding-top: calc((100vw/24.5) * 3.5);
  padding-bottom: calc((100vw/24.5) * 3.5);
}

p {
  &:last-child {
    margin: 0;
    padding: 0;
  }
}

#logo-trigger {
  position: absolute;
  left: 0;
  top: 60%;
  width: 0;
  height: 100px;
  // background: #f00;
}

.vertical-spacing-mobile-top {
  @include media-breakpoint-down(md) {
    padding-top: calc(100vw / 24.5) !important;
  }
}

.vertical-spacing-mobile-bottom {
  @include media-breakpoint-down(md) {
    padding-bottom: calc(100vw / 24.5) !important;
  }
}

.vertical-spacing-desktop-top {
  @include media-breakpoint-up(lg) {
    padding-top: calc(100vw / 64) !important;
  }
}

.vertical-spacing-desktop-bottom {
  @include media-breakpoint-up(lg) {
    padding-bottom: calc(100vw / 64) !important;
  }
}
