.casestudy {
  padding-bottom: 3.375rem;

  .casestudy-mobile-gallery {
    position: relative;
    display: block;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    .video-js {
      width: 100%;
      height: 0;
      padding-top: 84%;
      background-color: transparent;

      video {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 101%;
      }
    }

    .prev,
    .next {
      display: none;
    }

    .swiper-container {
      width: 100%;
      height: auto;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      width: auto;
    }

    .swiper-pagination-bullets {
      bottom: -5px;
      left: 0;
      width: 100%;
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 100%;
      background: #fff;
      opacity: 0.5;

      &:focus {
        outline: none;
      }
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: var(--theme-primary-colour) !important;
    }

    .swiper-pagination-clickable .swiper-pagination-bullet {
      cursor: pointer;
    }

    .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 4px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .casestudy-gallery {
    position: relative;
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }

    .video-js {
      width: 100%;
      height: 0;
      padding-top: 56%;
      background-color: transparent;

      video {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 101%;
      }
    }

    .prev,
    .next {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      .prev {
        display: block;
        z-index: 1000;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        opacity: 0;
        cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' width='62' height='34' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 62 34' style='enable-background:new 0 0 62 34;' xml:space='preserve'%3E%3Cpolygon points='17.8,0.1 20.7,2.9 8.4,15.1 61.1,15.1 61.1,19.1 8.7,19.1 20.7,31.1 17.8,33.9 0.9,17 '/%3E%3C/svg%3E%0A") 62 34, pointer;

        &:hover {
          opacity: 0;
        }
      }

      .next {
        display: block;
        z-index: 1000;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        background: #fff;
        opacity: 0;
        cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' width='62' height='34' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 62 34' style='enable-background:new 0 0 62 34;' xml:space='preserve'%3E%3Cpolygon points='44.2,0.1 41.3,2.9 53.6,15.1 0.9,15.1 0.9,19.1 53.3,19.1 41.3,31.1 44.2,33.9 61.1,17 '/%3E%3C/svg%3E") 62 34, pointer;

        &:hover {
          opacity: 0;
        }
      }
    }

    .swiper-container {
      width: 100%;
      height: auto;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      height: 100%;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      width: auto;
    }

    .swiper-pagination-bullets {
      bottom: -5px;
      left: 0;
      width: 100%;
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 100%;
      background: #fff;
      opacity: 0.5;

      &:focus {
        outline: none;
      }
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: var(--theme-primary-colour) !important;
    }

    .swiper-pagination-clickable .swiper-pagination-bullet {
      cursor: pointer;
    }

    .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 4px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .casestudy-title {
    //padding-top: 1.6875rem;
    //padding-bottom: 1.6875rem;
  }

  .more-info {
    cursor: pointer;
  }

  .content {
    height: 0;
    overflow: hidden;
  }

  .categories {
    padding: 0;
    margin: 0;
    padding-left: 0 !important;

    li {
      padding: 0;
      list-style: none;
      color: #808080;
    }
  }
}
